/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #fff; 
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  margin: 0 auto;
}

.container {
  padding: 30px;
}

.left_bar {
  display: inline-block;
  width: 30%;
}

.right_bar {
  display: inline-block;
  /*width: 65%;*/
  width: 490px;
  vertical-align: top;
}

.right_mid {
  background-image: url("../images/frame.png");
}

div {
  border: 1px solid red;
}