/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #fff; 
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

.container {
}

.inner_container {
  max-width: 850px;
  margin: 90px auto 50px;
}

h3 {
  color: #1c5380;
  font-size: 20px;
}

p {
  font-size: 14px;
}

.left_bar {
  display: inline-block;
  /*width: 30%;*/
  width: 320px;
}

.right_bar {
  display: inline-block;
  /*width: 65%;*/
  width: 500px;
  vertical-align: top;
  padding-left: 25px;
}

.right_top {
  padding: 15px 0;
}

.home_btn{
  vertical-align: top;
  float: right;
  background-color: #1c5380;
  border-right: 2px;
  margin-top: 15px;
}

button a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}



.right_mid {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  padding: 25px;
}

.right_bottom {
  padding-left: 25px;
}

.app {
  display: inline-block;
}

.android {
  margin-left: 10px;
}

div {
  /*border: 1px solid red;*/
}

footer {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  color: #1c5380;
}

footer li {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

.copy {
  color: #ccc;
}